@use "../tools/global"as *;

// #cbe3ae
// #7cbf57

// about
.p-cb__item-desc p:last-child {
  line-height: 1.6;

  @media only screen and (max-width: 768px) {
    br {
      display: none;
    }
  }
}

#cb_1{
  .p-cb__item-desc2{
    p{
      line-height: 1.6;
    }
  }
}

.p-index-about__images {
  .p-index-about__image {
    width: 220px;
  }

  @media only screen and (max-width: 768px) {
    display: flex;

    .p-index-about__image {
      width: 30%;
    }
  }


}


//フリースペース
.btmabout{
  margin-top: -80px;
  li{
    line-height: 1.6;
    font-size: 14px;
  }
  @media only screen and (max-width: 991px) {
    margin-top: 0;
  }

}
#cb_1{
  padding-bottom: 20px;

}

.p-entry__body{
  p{
    &.topSubttl{

      font-size: 42px;
      text-align: center;
      font-weight: 500;
      line-height: 1.5;
      margin: -4px auto 34px;
      @media only screen and (max-width: 768px) {
        font-size: 30px;
        margin: -4px auto 18px;

      }
    }
  }
}

.wpcf7{
  border: none;
  background-color: #FFF;
  form{
    margin: 0;

  }
  .p-entry__body ul{
    margin-left: 0;
    margin: 0;
  }
  p.chatInquiery__list--ttl{
    font-size: 18px;
    margin: 0 0 8px;
    font-weight: bold;
    line-height: 1.5;
  }
  input{
    border: none;
    border-bottom: solid 1px #000;
  }
  textarea{
    border: solid 1px #000;
  }
  select{
    width: 100%;
    border: none;
    border-bottom: solid 1px #000;
  }
}

.chatInquiery{
  &__list{
    margin: 0;

    li{
      list-style-type: none;
      margin-bottom: 30px;
    }
    &--ttl{

    }
  }
}


//tablet
@media only screen and (max-width: 991px) {}

//SP
@media only screen and (max-width: 768px) {}